@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
        if (@TempData["Message"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show">
                
                @TempData["Message"]
            </div>
        }
    }
</div>
